<header>
	<h1>Welcome to EmberJS</h1>
	Menu:
	{{#link-to "index"}}Index{{/link-to}} | 
	{{#link-to "favorites"}}Favorites{{/link-to}} |
	{{#link-to "components"}}Components{{/link-to}} |
	{{#link-to "helpers"}}Helpers{{/link-to}}
</header>

<div class="content">
	{{outlet}}
</div>

<footer>
	Footer
</footer>